@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.btn {
    border: none;
    background-color: #ff3343;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.container {
    width: 1350px;
    margin: 0 auto;
}

.header {}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.logo {
    width: 120px;
    margin-left: 5rem;
}

.nav-items a {
    color: #fff;
    margin-left: 5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.nav-items {
    margin-right: 18rem;
}

/* Hero Section */

.hero-section {
    display: grid;
    grid-template-columns: 45% 55%;
    align-items: center;
}

.hero-left {
    display: flex;
    justify-content: end;
}

.hero-img {
    width: 80%;

}

.hero-right {
    padding-right: 18rem;
}

.hero-right h3 {
    color: #ff3343;
    font-size: 24px;
}

.hero-right h1 {
    font-size: 72px;
    margin-bottom: 1rem;
}

.hero-right p {
    font-size: 24px;
    margin-bottom: 3rem;
}

/* Stats Section */
.stats-section {
    background: rgb(30, 30, 30);
    background: linear-gradient(90deg, #181818 50%, rgba(17, 17, 17, 1) 50%);
}

.skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    padding-top: 8rem;
    margin-bottom: 8rem;
}

.skill {
    padding: 4rem 3rem 3rem 4rem;
    background-color: #1e1e1e;
}

.skill-img {
    height: 75px;
    margin-bottom: 1.8rem;
}

.skill-heading {
    font-size: 36px;
    margin-bottom: 1.8rem;
}

.skill-desc {
    font-size: 28px;
    margin-bottom: 1.8rem;
}

.skill-btn {
    background-color: #ff3343;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}

.middle {
    color: #fff;
    background-color: #c91b28;
}

.middle .skill-btn {
    color: #fff;
}

.stats {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 8rem;
    margin-bottom: 4rem;
}

.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    align-items: center;
}


.stats .experience h2 {
    font-size: 120px;
    font-weight: 900;
    color: #ef4040;

}

.stats .experience h4 {
    font-size: 24px;

}

.sub-grid {
    padding: 2rem 0;
    background-color: #1e1e1e;
}

.sub-grid h3 {
    font-size: 48px;
    color: #ef4040;
}

.sub-grid h5 {
    font-size: 18px;
    font-weight: lighter;
}

/* Projects Section */

.project-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.title h2 {
    font-weight: 800;
    font-size: 36px;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.title h5 {
    font-weight: lighter;
    font-size: 19px;
}

.pro-btn {
    padding: 1rem 2.5rem;
    background-color: #ef4040;

}

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-bottom: 8rem;
}

.project {
    margin-bottom: 9rem;
}

.img {
    width: 100%;
    height: 120%;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.project-img {
    width: 90%;
}

.project-title {
    margin-bottom: .5rem;
    font-size: 28px;
    font-weight: 800;
}

.project-btn {
    color: #ff3343;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.callout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: #1e1e1e;
    padding: 5rem 4rem;
    margin-bottom: 6rem;
}

.callout-main {
    font-size: 58px;
    margin-bottom: 1rem;
}

.callout-desc {
    padding-right: 4rem;
    font-weight: 400;
    font-size: 18px;
}

.call-btn {
    padding: 1rem 2.5rem;
    background-color: #ef4040;
}

/* nav bottom */
.nav-bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.nav-items-bottom {
    display: flex;
    gap: 3rem;
    font-size: 14px;
    font-weight: 500;
}

/* footer */

footer {
    background-color: #1e1e1e;
}

.media-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.media {
    padding: 2rem 0;
    width: 150px;
}

.footer-logo {
    position: absolute;
    left: 0;
    transform: translateX(-50%);
}